<%= form_for(@user) do |f| %>
    <div class="form_group">
        <br>
        <h4>
            <strong>ユーザー名</strong>
        </h4>
        <%= f.text_field :name, placeholder: "ユーザー名を入力してください", class: "form-control" %>
    </div><br>
    <div class="form_group">
        <br>
        <h4>
            <strong>性別</strong>
        </h4>
        <%= f.select :sex, User.sexes.keys.map {|k| [I18n.t("enums.post.part.#{k}"), k]} %>
    </div><br>
    <div class="form_group">
        <br>
        <h4>
            <strong>身長</strong>
        </h4>
        <%= f.number_field :height, step: '0.1' %>
    </div><br>
    <div class="form_group">
        <br>
        <h4>
            <strong>メモ</strong>
        </h4>
        <%= f.text_area :message, placeholder: "メモ", class: "form-control" %>
    </div><br>
<%= f.submit "更新する" %>
<% end %>